{% extends '::base.html.twig' %}

{% block body %}
<br /><br /><br />

<div class="row">
    <div class="col-md-6 center">

        {% if error %}
            <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}
        <br>

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" required="required" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="form-control" />
            </div>
        </form>
    </div>
</div>
    {% block footer %}
    {% endblock footer %}
{% endblock body %}
